<div class="container">
  <div class="admins-customers pt-5">
    <h4 class="pb-3">会員一覧</h4>
    <table class="table">
      <tr class="table-info.bg-info">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <%= customer.id %>
          </td>
          <td>
            <%= link_to customer.full_name, admins_customers_path(customer), class: "text-dark" %>
          </td>
          <td>
            <%= customer.email %>
          </td>
          <td>
            <% if customer.is_deleted == true %>
              <p class="text-secondary">退会</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= paginate @customers %>
</div>